@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&display=swap');

@font-face {
  font-family: font;
  src: url("zzznicob/notion-widgets/font.otf") format("opentype");
}


body {
  background-color: rgb(255, 255, 255);
  font-family:'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  
  overflow: hidden;
}

.flex {
display: flex;
}


button {
  border-radius: 50%;
  border: solid 1px black;
  background-color: rgba(215,215,215);
  width: 35px;
  height:35px;
}

.flexfill{
margin-top: auto;
justify-content: center;
align-items: flex-end;
bottom: 0;
display: flex;

margin-bottom: 7.5px;
}

.btnwrap {
justify-content: center;
align-items: flex-end;
bottom: 0;
display: flex;
}
button:hover {
  animation: opacity 1s ease-in-out;
}

@keyframes opacity {
  50% {
      opacity: 0.85;
  }
  100% {
      opacity: 1;
  }
}



.flex {
  display: flex;
  width: 388px;
  flex-direction: column;
  height: 430px;
background: rgba(225,225,225,1);
border: solid 2px black;
border-radius: 12px;
overflow: hidden;
}

h1 {
margin: 0;
}

.welcome {
padding: 8px;
justify-content: space-evenly;
}

.welcome {
 display: flex;

}

#bold {
font-weight: bold;
}


h2 {
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.box {
height: 325px;
margin: 5px;
margin-left: 28px;
width: 300px;
background: rgba(255,255,255,0.1);
margin: solid 1px black ;
}

.innercontent {
display: flex;
flex-direction: column;
    width: 330px;
}

.box {
margin-right: 2em;
}

.innercontent {
height: 282px;
background: white;
}

.wrap {
position: relative;
display: flex;
flex-direction: row;
}

.class1{
display: flex;
align-items: center;
height: 47px;
justify-content: space-between;
  margin: 0 20px 0 20px;
}
.class2{
display: flex;
align-items: center;
height: 47px;
justify-content: space-between;
  margin: 0 20px 0 20px;
}
.class3{
display: flex;
align-items: center;
height: 47px;
justify-content: space-between;
  margin: 0 20px 0 20px;
}
.class4{
display: flex;
align-items: center;
height: 47px;
justify-content: space-between;
  margin: 0 20px 0 20px;
}
.class5 {
 display: flex;
align-items: center;
height: 47px;
 justify-content: space-between;
  margin: 0 20px 0 20px;
} 
.class6{
display: flex;
align-items: center;
height: 47px;
justify-content: space-between;
  margin: 0 20px 0 20px;
}

h2 {
font-weight: 400;
}

h1 {
font-weight: 400;
}




/*animations*/

.animate {
transform: translateX(-37%);
width: 268%;
display: flex;
gap: 25px;
transition: 1s;
}

.animate2 {
transform: translateX(-74%);
width: 268%;
display: flex;
height: 400px;
gap: 25px;
transition: 1s;
}

.animate3 {
transform: translateX(-111%);
width: 268%;
display: flex;
height: 400px;
gap: 25px;
transition: 1s;
}

.animate4 {
transform: translateX(-148%);
width: 268%;
display: flex;
height: 400px;
gap: 25px;
transition: 1s;
}

.animate5 {
transform: translateX(-185%);
width: 268%;
display: flex;
height: 400px;
gap: 25px;
transition: 1s;
}

.animate6 {
transform: translateX(-222%);
width: 268%;
display: flex;
height: 400px;
gap: 25px;
transition: 1s;
}

.animate7 {
transform: translateX(-259%);
width: 268%;
display: flex;
height: 400px;
gap: 25px;
transition: 1s;
}

/* back animations*/


.animateback {
transform: translateX(0%);
width: 268%;
display: flex;
height: 400px;
gap: 25px;
transition: 1s;
}

.animateback2 {
transform: translateX(-37%);
width: 268%;
display: flex;
height: 400px;
gap: 25px;
transition: 1s;
}

.animateback3 {
transform: translateX(-74%);
width: 268%;
display: flex;
height: 400px;
gap: 25px;
transition: 1s;
}

.animateback4 {
transform: translateX(-111%);
width: 268%;
display: flex;
height: 400px;
gap: 25px;
transition: 1s;
}

.animateback5 {
transform: translateX(-148%);
width: 268%;
display: flex;
height: 400px;
gap: 25px;
transition: 1s;
}

.animateback6 {
transform: translateX(-185%);
width: 268%;
display: flex;
height: 400px;
gap: 25px;
transition: 1s;
}